@import url("https://cdn.honglin.ac.cn/fonts/g/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&family=Outfit:wght@100..900&display=swap");

:root {
  --font-sans:
    "Outfit", "Noto Serif SC", -apple-system, "BlinkMacSystemFont",
    "Microsoft Yahei UI", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
  --font-sans-title:
    "Outfit", "Noto Sans SC", -apple-system, "BlinkMacSystemFont",
    "Microsoft Yahei UI", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
  --font-serif:
    "Crimson Text", "Noto Serif SC", "Iowan Old Style", "Palatino",
    "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times,
    serif;
  --font-mono:
    "IBM Plex Mono", "Noto Serif SC", ui-monospace, "SF Mono", "Menlo",
    "Monaco", "Cascadia Code", "Consolas", "Courier New", monospace;
}

* {
  transition: font-family 0.2s ease-in-out;
}

body,
.c-font-normal,
.c-font-medium,
.message-center-icon,
#chat-input-main *,
.wrapper_new,
#container.sam_newgrid {
  font-family: var(--font-sans) !important;
}

#right-tool *:not(.cos-icon),
#left-tool *:not(.cos-icon),
.panel-list_8jHmm *:not(.cos-icon),
.cos-link,
.cos-link-button,
#container.sam_newgrid td,
#container.sam_newgrid th,
.cos-text-body,
.cos-text-body-lg,
.line_jFrxr,
.pc-rg-upgrade_2X3zi .item_3WKCf,
.pc-rs-upgrade_3SRoo .rs-link_2DE3Q {
  font-family: var(--font-sans) !important;
}

.cos-tag,
.cosc-title,
.cosc-title-a,
a.cosc-title-a .cosc-title-slot,
.cos-text-body-lg-higher,
.cos-text-subtitle-sm,
._paragraph_10ku5_2,
.pc-fresh-title-con #container.sam_newgrid .c-container .t,
.pc-fresh-title-con #container.sam_newgrid .c-container .c-title,
#chat-input-main .chat-input-tool .right-tools-wrapper #chat-submit-button,
#container.sam_newgrid .c-showurl,
.nbk-index_lwSre .cosd-markdown .marklang :not(h2) mark strong,
.wrapper_new #u .s-top-username {
  font-family: var(--font-sans-title) !important;
}

.cosd-markdown .marklang .marklang-paragraph,
.cosd-markdown .marklang {
  font-family: var(--font-serif) !important;
}

.wrapper_new #u .s-top-username,
.cosd-markdown .marklang h1,
.cosd-markdown .marklang h2,
.cosd-markdown .marklang h3,
.cosd-markdown .marklang strong,
.cos-tabs .cos-tab {
  font-family: var(--font-sans-title) !important;
}

#bottom_layer .s-bottom-layer-content,
.cosc-source-caption,
.cosc-source-text,
.cos-more-link-text,
.cos-pc .nbk-index_lwSre .cosd-citation-citationId,
.cos-pc .nbk-index_lwSre .cosd-citation-tag-citationId,
#page.page-sample {
  font-family: var(--font-mono) !important;
}
