:root {
  --font-family-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: "Menlo", "Courier New", monospace;
}

body {
  font-family: var(--font-family-sans);
}

.blob-code-content {
  font-family: var(--font-family-mono);
}
