@import url('https://fonts.googleapis.cn/css2?family=Roboto:wght@400;700&family=Noto+Sans+SC:wght@400;700&display=swap');

:root {
  --font-family-sans: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: "Menlo", "Courier New", monospace;
}

.blob-code-content {
  font-family: var(--font-family-mono);
}
