@import url("https://fonts.googleapis.cn/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@200..900&family=Outfit:wght@100..900&display=swap");

:root {
  --font-sans:
    "Outfit", "Noto Serif SC", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-serif:
    "Crimson Text", "Noto Serif SC", Georgia, Cambria, "Times New Roman", Times,
    serif;
  --font-mono:
    "IBM Plex Mono", "Noto Serif SC", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
