/* Wikipedia-specific font customization */
/* google-font: Merriweather */

body, #mw-content-text, .mw-body-content {
    font-family: 'Merriweather', Georgia, serif !important;
}

.mw-body h1, .mw-body h2, .mw-body h3 {
    font-family: 'Merriweather', Georgia, serif !important;
}

.mw-body p {
    font-family: 'Merriweather', Georgia, serif !important;
}

.mw-body li, .mw-body dd {
    font-family: 'Merriweather', Georgia, serif !important;
}