:root {
  --font-sans: "Outfit", "Charter", "Noto Serif SC", "STSong", sans-serif;
  --font-serif:
    "Crimson Text", "Noto Serif SC", "Iowan Old Style", "Palatino",
    "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times,
    serif;
  --font-mono:
    "IBM Plex Mono", "Noto Serif SC", ui-monospace, "SF Mono", "Menlo",
    "Monaco", "Cascadia Code", "Consolas", "Courier New", monospace;
}

* {
  transition: font-family 0.2s ease-in-out;
}

body {
  font-family: var(--font-sans) !important;
}

.r-poiln3 {
  font-family: var(--font-sans) !important;
}
