@import url("https://cdn.frankindev.com/fonts/g/css?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@200..900&family=Outfit:wght@100..900&display=swap");

:root,
html {
  --font-sans:
    "Outfit", "Futura", "Optima", "Noto Serif SC", "STSong", "Songti SC",
    -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", sans-serif;
  --font-serif:
    "Crimson Text", "Charter", "Baskerville", "Noto Serif SC", "STSong",
    "Songti SC", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-mono:
    "IBM Plex Mono", "Monaco", "BIZ UDMincho", "Noto Serif SC", "STSong",
    "Songti SC", ui-monospace, "SFMono-Regular", "Menlo", "Consolas",
    "Liberation Mono", "Courier New", monospace;
  --rv-base-font-family:
    "Outfit", "Noto Serif SC", "STSong", "Songti SC", -apple-system,
    "BlinkMacSystemFont", "Helvetica Neue", Helvetica, "Segoe UI", "Arial",
    "Roboto", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI",
    sans-serif;
}

* {
  transition: font-family 0.2s ease-in-out;
}

html {
  --zFontSansSerif: var(--font-sans) !important;
  --zFontMonospace: var(--font-mono) !important;
}

body {
  font-family: var(--font-sans) !important;
}

.HotSearchCard-itemText {
  font-family: var(--font-sans) !important;
}

.HotSearchCard-change {
  font-family: var(--font-serif) !important;
}

pre,
code,
.highlight pre code {
  font-family: var(--zFontMonospace) !important;
}

/* zhida */
.Render-markdown,
div[dir="auto"] {
  font-family: var(--font-sans) !important;
}
