html,
body {
  --font-sans:
    "Avenir", -apple-system-body, ui-sans-serif, -apple-system, system-ui,
    "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono:
    "BlexMono Nerd Font", "IBM Plex Mono", "Noto Serif SC", ui-monospace,
    "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono",
    "Courier New", monospace;
}

code,
pre {
  font-family: var(--font-mono) !important;
}
