@import url("https://cdn.honglin.ac.cn/fonts/g/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&family=Outfit:wght@100..900&display=swap");

:root {
  --font-sans:
    "Outfit", "Noto Serif SC", -apple-system, "BlinkMacSystemFont",
    "Microsoft Yahei UI", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
  --font-sans-title:
    "Outfit", "Noto Sans SC", -apple-system, "BlinkMacSystemFont",
    "Microsoft Yahei UI", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
  --font-serif:
    "Crimson Text", "Noto Serif SC", "Iowan Old Style", "Palatino",
    "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times,
    serif;
  --font-mono:
    "IBM Plex Mono", "Noto Serif SC", ui-monospace, "SF Mono", "Menlo",
    "Monaco", "Cascadia Code", "Consolas", "Courier New", monospace;
}

* {
  transition: font-family 0.2s ease-in-out;
}

body,
#header-link-wrapper li a,
#header-link-wrapper li span {
  font-family: var(--font-sans) !important;
}

.hotnews li strong a:link,
.hotnews li strong a:active,
.hotnews li strong a:visited,
.mod-tab-content .mod-tab-pane,
.cxgWx,
.a6vtg,
._3ErRw {
  font-family: var(--font-serif) !important;
}

#usrbar,
.mod-headline-tab,
.hotnews li:first-child strong a:link,
.hotnews li:first-child strong a:active,
.hotnews li:first-child strong a:visited,
.ulist .bold-item a,
.sKHSJ {
  font-family: var(--font-sans-title) !important;
}

#footer span,
._1HGmt {
  font-family: var(--font-mono) !important;
}
